.tocItem {
  display: flex;
  padding: 8px 32px;
  color: rgba(39, 40, 44, 0.70);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Droid Sans', 'Helvetica Neue', Arial, sans-serif;
  font-size: 12px;
  font-weight: normal;
  line-height: 16px;
  overflow: hidden;
  text-decoration: none;
  text-overflow: ellipsis;
  transition: background 0.2s;
  animation: appear 0.3s;
}

.tocItemWrapper {
  &:hover {
    background: #F4F4F4;
  }
}

.tocItemAnchor {
  background: #F4F4F4;

  &:hover {
    background: #E9E9E9;
  }
}

.tocItem.tocItemAnchor:hover {
  background: #E9E9E9;
}

@keyframes appear {
  0% {
    opacity: 0.4;
  }
  100% {
    opacity: 1;
  }
}

.tocItemSelected {
  font-weight: bold;
}

.tocItem.tocItemDisabled {
  pointer-events: none;
  color: #ccc;
}

.tocExpander {
  width: 14px;
  height: 14px;
  margin-left: -18px;
  vertical-align: middle;
  transition: transform 0.2s;
  fill: #3C3D40;
  cursor: pointer;
}

.tocExpanderOpened {
  transform: rotate(90deg);
  font-weight: bold;
}

.tocExpanderSelected {
  font-weight: bold;
}

.tocExpanderDisabled {
  fill: #ccc;
}